[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
cryptography = "*"
boto3 = "*"
sqlmodel = "*"
authlib = "*"
pandas = "*"
arrow = "*"
pyodbc = "*"

[requires]
python_version = "3"

[dev-packages]
