[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
cryptography = "*"
boto3 = "*"
pyyaml = "*"
pandasai = ">=3.0.0b2"
sqlmodel = "*"
pandasai-openai = "*"
authlib = "*"

[dev-packages]

[requires]
# Require <3.12 for compatibility with pandasai (https://docs.getpanda.ai/v3/getting-started)
python_version = "3.11"
