[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
plotly = "*"
cryptography = "*"
boto3 = "*"
numpy = "<2"
pandasai = {extras = ["streamlit", "plotly", "seaborn"], version = "*"}
sqlalchemy = "<2"

[dev-packages]

[requires]
python_version = "3.11"
