[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
sqlmodel = "*"
cryptography = "*"
boto3 = "*"
python-dotenv = "*"
pyodbc = "*"
authlib = "*"
streamlit-aggrid = "*"
streamlit-extras = "*"

[requires]
python_version = "3"

[dev-packages]
