@import "../common.css";

/* ----------------------------------------
   Compact white space on smaller screens
   ---------------------------------------- */
@media (max-width: 768px) {
  .card-title {
    font-size: 0.9rem !important;
  }
}


/* ----------------------------------------
   Remove backgrounds / shadows for print
   ---------------------------------------- */
   @media print {
  body {
    background: white !important;
  }
  
  .card {
    box-shadow: none !important;
    border: 1px solid var(--color-base-300) !important;
    break-inside: avoid;
  }
}

/* ========================================
   COMPONENT STYLES
   ======================================== */

/* Tree styles: both tree table and table cards */
.table th,
.table.table-sm td {
  border-bottom: 1px solid var(--color-base-300) !important;
}

.table thead.sticky {
  z-index: 10 !important;
}


@media (max-width: 768px) {
  .table.table-sm th,
  .table.table-sm td {
    padding: 0.375rem !important;
    font-size: 0.75rem !important;
  }
}