# This Pipfile is for running ingest scripts in prefect/

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
python-dotenv = "*"
prefect = {extras = ["aws", "shell"], version = "*"}
cryptography = "*"
pandas = "*"
sqlmodel = "*"
pyodbc = "*"

[dev-packages]
